<h2>Leagues</h2>
<ngb-tabset type="pills">
    <ngb-tab title="Home">
        <ng-template ngbTabContent>
            <app-league-home></app-league-home>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Create">
        <ng-template ngbTabContent>
            <app-league-create></app-league-create>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Join">
        <ng-template ngbTabContent>
            <app-league-join></app-league-join>
        </ng-template>
    </ngb-tab>
</ngb-tabset>