<section class="container-fluid">
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choose a team</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let teamE of ((teams$ | async) | keyvalue)" (click)="onSelect(teamE.key, teamE.value)">
                        {{teamE.value}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <app-squad-list class="row my-3" [selectedTeam]="selectedTeam" [players$]="players$"></app-squad-list>
</section>