<p>
This is solely an auction facilitator for a group of friends and not a fantasy team site. It does not track fantasy points.
You can create a League and then invite your friends. There is no hard limit on the number of players, so use your judgement.
You then place bids for 15 players. Once everyone has placed their bids, the League Creator will be able to Resolve Bids from his League Hub.
The highest bidder for a player gets the player. In the event of a tie, the winning bid is randomly chosen for convenience. Bidding phases will continue until all players have gotten 15 players.
Once your team has been assembled, please use your fantasy football website of choice to track your fantasy points.
</p>
