<h1 id="fantasy-football-auction">Blind Bid Fantasy Draft Auction</h1>
<h2 id="introduction">Introduction</h2>
<p>This is an auction facilitator for a group of friends to hold a fantasy draft via blind bids. It does <strong>not</strong> track fantasy points.</p>
<h2 id="rules">How It Works</h2>
<ol>
    <li>You can create a <em>League</em> and then invite your friends. There is no hard limit on the number of players, so use your judgement.</li>
    <li>You then place bids for 15 players.</li>
    <li>Once everyone has placed their bids, the <em>League Creator</em> will be able to trigger the <strong>resolution</strong> of bids from his League Hub.</li>
    <li>The highest bidder for a player gets the player.</li>
    <li>In the event of a tie, the winning bid is randomly chosen for convenience.</li>
    <li>Bidding phases will continue until all bidders have gotten 15 players.</li>
    <li>Once your team has been assembled, please use your fantasy football website of choice to track your fantasy points.</li>
</ol>
<h2 id="player-list">Player List</h2>
<p>The current player store is derived from the FPL API, so the player and team list should correspond the latest season of the Premier League. </p>
<p>This web app is built using Angular and TypeScript, and is available on GitHub <a href="https://github.com/RvI101/Fantasy-Football-Auction-Web-App">here</a>. Feel free to tinker around with it and even deploy your own version.</p>
