<section class="container-fluid">
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choose a team</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let team of getTeamKeys(teams)" (click)="onSelect(team)">{{teams[team]}}</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <app-league-pool-table class="row" [leagueId]="leagueId" [selectedTeam]="selectedTeam" [players$]="players$"></app-league-pool-table>
</section>