<table class="table table-striped">
    <caption>Your Admin Leagues</caption>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let league of adminLeagues | async">
            <td>{{league.leagueId}}</td>
            <td>{{league.name}}</td>
            <td><button (click)="deleteLeague(league)" class="btn btn-outline-danger">Delete</button></td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <caption>Your Member Leagues</caption>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let league of memberLeagues | async">
            <td>{{league.leagueId}}</td>
            <td><a [routerLink]="['/leagues', league.leagueId]">{{league.name}}</a></td>
            <td><button class="btn btn-outline-danger" disabled=true>Leave</button></td>
        </tr>
    </tbody>
</table>