<section class="container-fluid">
<div style="text-align:center" class="row justify-content-center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<app-login class="row justify-content-start"></app-login>
<hr>
<div class="btn-group btn-group-toggle row" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="1" routerLink="/leagues"> My Leagues
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="middle" routerLink="/players"> Players
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="false" routerLink="/rules"> Rules
    </label>
</div>
<hr>

<router-outlet></router-outlet>
</section>