<section class = "container-fluid" *ngIf="league$ | async as L">
    <h3 class="row">League Hub for {{L.name}}</h3>
    <ngb-alert class="row" [dismissible]="false" type="info">Current Status : {{ status?.toUpperCase() }}</ngb-alert>
    <section class="row">
        <app-my-squad class="col-12 col-md-4 my-2" [leagueId]="L.leagueId"></app-my-squad>
        <div class="col-12 col-md-4">
            <table class="table table-borderless table-sm">
                <caption>Members of {{L.name}}</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of memberMap | keyvalue">
                        <td>{{member.value.displayName !== null ? member.value.displayName : member.key.slice(-4)}}</td>
                        <td><button class="btn btn-outline-primary">View</button></td>
                        <td>{{ (member.value)?.status.toUpperCase() }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header bg-info"><h5>Team Report</h5></div>
                <div class="card-body">
                    <p class="card-text">You own <strong>{{ squadSize$ | async}} Players</strong> and have <strong>{{(money$ | async) | currency:'GBP':'symbol':'1.0-1'}}M</strong> remaining.
                        You can see already acquired <strong>Players</strong> in the left pane. Look to the right pane to see <strong>Bids</strong>.
                    </p>
                </div>
            </div>
        </div>
        <ngb-tabset class="col-12 col-md-4" type="pills">
            <ngb-tab title="Bid Cart">
                <ng-template ngbTabContent>
                    <app-bid-cart [leagueKey]="L.leagueId"></app-bid-cart>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Bid History">
                <ng-template ngbTabContent>
                    <app-bid-history [leagueId]="L.leagueId"></app-bid-history>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
    <button *ngIf="allWait && isAdmin" class="btn btn-info my-md-3" (click)="resolveBids(L.leagueId)">Resolve Bids</button>
    <button *ngIf="canBid" [attr.aria-expanded]="!isOpen" class="btn btn-primary" (click)="isOpen = !isOpen" aria-controls="collapseExample">Player Pool</button>
    <hr>
    <div id="collapseExample" [ngbCollapse]="isOpen || !canBid">
        <app-league-pool></app-league-pool>
    </div>
</section>